body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(50, 48, 48);
  color:rgb(255, 255, 255);
  padding: 0 4%;
}

a {
  color:#ffffff;
}

.row {
  display:flex;
}

.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

img {
  width: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  nav a {
    text-decoration: none;
    color:rgb(97, 187, 226);
    &:not(:last-child) {
      margin-right: 20px; //this is for spacing 
    } 
    &.active {
      text-decoration: underline;
    }
  }
}